<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visual Crawler Generator</title>

    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="../node_modules/toastr/build/toastr.css" />

    <script>$ = jQuery = require('jquery')</script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="js/index.js"></script>
</head>
<body data-ng-app="SelGenApp">

<div  class="container">

    <!-- List selector generator table -->
    <div id="ctrlCreateListSelector" data-ng-controller="ListSelController">
        <h3>List Selector Creator</h3>
        <table class="table table-striped">
            <tr>
                <th>Attribute Name</th>
                <th>Selector</th>
                <th>Type</th>
                <th>BG Color</th>
                <th>Operation</th>
            </tr>
            <tr data-ng-repeat="selAttr in selAttributes">
                <td><input class="form-control" type="text" value="{{ selAttr.name }}" /></td>
                <td><textarea class="form-control">{{ selAttr.cssText }}</textarea></td>
                <td><select class="form-control">
                    <option
                            data-ng-repeat="selType in selTypes"
                            name="{{selType.name}}"
                            data-ng-selected="selType.name == selAttr.type">
                        {{ selType.displayName }}
                    </option>
                </select></td>
                <td><input type="color" /></td>
                <td><button class="btn btn-warn" ng-click="clickDelete($index)">Delete</button></td>
            </tr>
        </table>
    </div>

    <!-- Item attribute selector generator table -->
    <div id="ctrlCreateItemSelector" data-ng-controller="ItemSelController">
        <h3>Item Selector Creator</h3>
        <table class="table table-striped">
            <tr>
                <th>Attribute Name</th>
                <th>Selector</th>
                <th>First Selected Element</th>
                <th>Text</th>
                <th>Type</th>
                <th>BG Color</th>
                <th>Operation</th>
            </tr>

            <tr data-ng-repeat="(selIndex, selAttr) in selAttributes"
                data-ng-controller="ItemSelItemController">

                <td><input class="form-control" type="text" value="{{ selAttr.name }}" /></td>
                <td><textarea class="form-control">{{ selAttr.cssText }}</textarea></td>
                <td><textarea class="form-control">{{ selAttr.selectedHTML }}</textarea></td>
                <td><textarea class="form-control">{{ selAttr.selectedText }}</textarea></td>
                <td><select class="form-control">
                    <option
                            data-ng-repeat="selType in selTypes"
                            name="{{selType.name}}"
                            data-ng-selected="selType.name == selAttr.type">
                        {{ selType.displayName }}
                    </option>
                </select></td>
                <td><input type="color" ng-model="selAttr.backgroundColor"/></td>
                <td>{{ selAttr.backgroundColor }}</td>
                <td><button class="btn btn-warn" ng-click="onDelete(selIndex)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>

<!-- Inner window -->
<div data-ng-controller="FrameController">
    <form id="inputUrlForm" action="#" class="form" >
        <input id="inputUrl" class="form-control" value="{{ url }}"/>
    </form>

    <div><iframe data-ng-src="{{ woUrl }}"
                 width="900"
                 height="700"
                 id="frame"
                 on-frame-load="onFrameLoad()">
    </iframe> </div>
</div>

<!--
    This is a dummy controller.
    It does nothing but expose $rootScope to window
 -->
<div data-ng-controller="DummyController">
</div>
</body>
</html>
